@model GiversResponse
@{
    ViewData["Title"] = "VipLand";
}

<div id="kt_sidebar" class="box-giver px-5 py-5 py-lg-8 px-lg-11">
    <div class="d-flex flex-stack mb-3 mb-lg-5" id="kt_sidebar_header">
        <h2 class="text-white">
            <img height="20" class="mt-n1" src="https://static-cdn.jtvnw.net/badges/v1/b817aba4-fad8-49e2-b88a-7cc744dfa6ec/3"/>
            VIP-пользователи
            <sup class="ps-1 text-muted">@String.Format("{0}/100", Model.VipGivers.Count())</sup>
        </h2>
        <div class="ms-1">
            <button class="btn btn-icon btn-sm btn-color-white btn-active-color-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-overflow="true">
                <span class="svg-icon svg-icon-3hx">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="4" fill="black"></rect>
                        <rect x="11" y="11" width="2.6" height="2.6" rx="1.3" fill="black"></rect>
                        <rect x="15" y="11" width="2.6" height="2.6" rx="1.3" fill="black"></rect>
                        <rect x="7" y="11" width="2.6" height="2.6" rx="1.3" fill="black"></rect>
                    </svg>
                </span>
            </button>
            <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary fw-bold w-200px" data-kt-menu="true">
                <div class="menu-item px-3">
                    <div class="menu-content fs-6 text-dark fw-bolder px-3 py-4">Действия</div>
                </div>
                <div class="separator mb-3 opacity-75"></div>
                <div class="menu-item px-3">
                    <a asp-action="UpsertGiverModal" class="menu-link px-3" data-toggle="modal">Добавить подписки</a>
                </div>
                <div class="separator mt-3 opacity-75"></div>
                <div class="menu-item px-3">
                    <div class="menu-content px-3 py-3">
                        <a class="btn btn-primary btn-sm px-4" href="#">Сменить месяц</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-3 mb-lg-3">
        <div class="me-n6 pe-6" id="kt_sidebar_body">
            <div class="timeline">
                @foreach (var vip in Model.VipGivers)
                {
                    <div class="timeline-item">
                        <div class="timeline-content mb-0">
                            <div class="pb-5">
                                <div class="d-flex flex-stack border rounded px-7 py-3">
                                    <a href="#" class="fs-5 text-start text-white text-hover-success fw-bold w-375px">
                                        @vip.Name
                                    </a>
                                    <a href="#" class="btn btn-sm btn-hover-rise text-white bg-info bg-opacity-75 d-flex flex-center">
                                        <svg type="color-fill-current" width="20px" height="20px" version="1.1" viewBox="0 0 20 20" x="0px" y="0px" class="" fill="white"><g><path fill-rule="evenodd" d="M16 6h2v6h-1v6H3v-6H2V6h2V4.793c0-2.507 3.03-3.762 4.803-1.99.131.131.249.275.352.429L10 4.5l.845-1.268a2.81 2.81 0 01.352-.429C12.969 1.031 16 2.286 16 4.793V6zM6 4.793V6h2.596L7.49 4.341A.814.814 0 006 4.793zm8 0V6h-2.596l1.106-1.659a.814.814 0 011.49.451zM16 8v2h-5V8h5zm-1 8v-4h-4v4h4zM9 8v2H4V8h5zm0 4H5v4h4v-4z" clip-rule="evenodd"></path></g></svg>
                                        <div class="ps-1">@vip.Count</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    @if (Model.VipGivers.Any(a => !a.IsVip) && 1!=1)
    {
        <!-- Очередь на vip -->
        <div class="d-flex flex-stack mb-5 mb-lg-8">
            <h2 class="text-white">
                <img height="20" class="mt-n1" src="https://static-cdn.jtvnw.net/badges/v1/b817aba4-fad8-49e2-b88a-7cc744dfa6ec/3" />
                Очередь на VIP
            </h2>
        </div>
        <div class="mb-5 mb-lg-8">
            <div class="me-n6 pe-6">
                <div class="timeline">
                    @foreach (var vip in Model.VipGivers)
                    {
                        <div class="timeline-item">
                            <div class="timeline-content mb-0">
                                <div class="pb-5">
                                    <div class="d-flex flex-stack border rounded px-7 py-3">
                                        <a href="#" class="fs-5 text-start text-white text-hover-success fw-bold w-375px">
                                            @vip.Name
                                        </a>
                                        <a href="#" class="btn btn-sm btn-hover-rise text-white bg-info bg-opacity-75 d-flex flex-center">
                                            <svg type="color-fill-current" width="20px" height="20px" version="1.1" viewBox="0 0 20 20" x="0px" y="0px" class="" fill="white"><g><path fill-rule="evenodd" d="M16 6h2v6h-1v6H3v-6H2V6h2V4.793c0-2.507 3.03-3.762 4.803-1.99.131.131.249.275.352.429L10 4.5l.845-1.268a2.81 2.81 0 01.352-.429C12.969 1.031 16 2.286 16 4.793V6zM6 4.793V6h2.596L7.49 4.341A.814.814 0 006 4.793zm8 0V6h-2.596l1.106-1.659a.814.814 0 011.49.451zM16 8v2h-5V8h5zm-1 8v-4h-4v4h4zM9 8v2H4V8h5zm0 4H5v4h4v-4z" clip-rule="evenodd"></path></g></svg>
                                            <div class="ps-1">@vip.Count</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
   
    <!-- Претенденты на vip -->
    <div class="d-flex flex-stack mb-3 mb-lg-5">
        <h2 class="text-white">
            Претенденты на VIP
            <img class="gifting-option__image tw-image" src="https://static-cdn.jtvnw.net/subs-image-assets/20-gift-redesign.png">
        </h2>
    </div>
    <div class="mb-5 mb-lg-8">
        <div class="me-n6 pe-6">
            <div class="timeline">
                @foreach (var vip in Model.WithoutVipGivers)
                {
                    <div class="timeline-item">
                        <div class="timeline-content mb-0">
                            <div class="pb-5">
                                <div class="d-flex flex-stack border rounded px-7 py-3">
                                    <a href="#" class="fs-5 text-start text-white text-hover-success fw-bold w-375px">
                                        @vip.Name
                                    </a>
                                    <a href="#" class="btn btn-sm btn-hover-rise text-white bg-info bg-opacity-75 d-flex flex-center">
                                        <svg type="color-fill-current" width="20px" height="20px" version="1.1" viewBox="0 0 20 20" x="0px" y="0px" class="" fill="white"><g><path fill-rule="evenodd" d="M16 6h2v6h-1v6H3v-6H2V6h2V4.793c0-2.507 3.03-3.762 4.803-1.99.131.131.249.275.352.429L10 4.5l.845-1.268a2.81 2.81 0 01.352-.429C12.969 1.031 16 2.286 16 4.793V6zM6 4.793V6h2.596L7.49 4.341A.814.814 0 006 4.793zm8 0V6h-2.596l1.106-1.659a.814.814 0 011.49.451zM16 8v2h-5V8h5zm-1 8v-4h-4v4h4zM9 8v2H4V8h5zm0 4H5v4h4v-4z" clip-rule="evenodd"></path></g></svg>
                                        <div class="ps-1">@vip.Count</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- Twitch -->
    <div class="text-center" id="kt_sidebar_footer">
        <a href="https://www.twitch.tv/hellyeahplay" target="_blank" class="btn btn-hover-rise text-white bg-white bg-opacity-10 text-uppercase fs-7 fw-bolder">
            Перейти на стрим
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-twitch" viewBox="0 0 16 16">
                <path d="M3.857 0 1 2.857v10.286h3.429V16l2.857-2.857H9.57L14.714 8V0H3.857zm9.714 7.429-2.285 2.285H9l-2 2v-2H4.429V1.143h9.142v6.286z"></path>
                <path d="M11.857 3.143h-1.143V6.57h1.143V3.143zm-3.143 0H7.571V6.57h1.143V3.143z"></path>
            </svg>
        </a>
    </div>
</div>
